.work {
  padding-top: 47px;

  &-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-light-theme-color;
  }
  &-list {
    display: flex;
  }
  &-item {
    width: 370px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &-image-title {
    position: relative;
  }
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.work-item:first-child .work-image-title::after,
.work-item:nth-child(2n) .work-image-title::after,
.work-item:nth-child(3n) .work-image-title::after {
  display: inline-block;
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  color: #ffffff;
  font-family: $main-font;
  font-size: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding: 27px 30px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-item:first-child .work-image-title::after {
  content: "Десктопные приложения";
}
.work-item:nth-child(2n) .work-image-title::after {
  content: "Мобильные приложения";
}
.work-item:nth-child(3n) .work-image-title::after {
  content: "Дизайнерские решения";
}
