.subscribe-form-wrapper {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
.subscribe-form {
  display: block;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.subscribe-form-input {
  display: inline-block;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);

  background-color: $dark-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  @media screen and (max-width: 480px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 480px) {
    display: block;
    margin: 0 auto;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }

  &::placeholder {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    cursor: pointer;
  }
}
.subscribe-form-btn {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: $accent-color;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.send-button-wrapper {
  position: relative;
  display: flex;
  padding-left: 29px;
}
.send-icon {
  position: absolute;
  top: 3px;
  right: 28px;

  & > use {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    margin-left: 10px;
  }
}
