body {
  font-family: $main-font;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}
img {
  display: block;
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
